[submodule "finn-core"]
	path = finn-core
	url = https://github.com/azizb-xlnx/finn.git
[submodule "notebooks/bert_finn_compiler_explore"]
	path = notebooks/bert_finn_compiler_explore
	url = https://gitenterprise.xilinx.com/sfleming/bert_finn_compiler_explore.git
